body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

#root{
  height: 100vh;
}

.container-fluid{
  padding: 0;
  height: 100%;
}

.hero-images{
  width: 11rem;
}